@CHARSET "ISO-8859-1";


.tg_carnet  {
	border-collapse:collapse;
	border-spacing:0;
}

.tg_carnet th{
	font-family:Arial, sans-serif;
	font-size:8px;
	font-weight:normal;
	border-style:solid;
	border-width:0px;
	text-align: center;
	padding: 0px;
}

.tg_carnet td{
	font-family:Arial, sans-serif;
	font-size:8px;
	border-style:dotted;
	border-width:0.5px;
	font-weight: normal;	
}
th.boxLogo{
	width: 90px;
	border-style:solid;
	border-width:0.5px;
	
}
th.boxLogo2{
	padding: 2px 27px 0px 27px; 
	border-style:solid;
	border-width:0.5px;
	
}
.tg_carnet td.tg_footer{
	text-align: center;
	font-size: 6px;
	font-weight: bold;
	border-style:none;	
}

.logo1{
	height: 50px;
	margin: 0px -45px 0px -24px;
}
.logo2{
	height: 35px;
	margin: 0px 0px -10px 0px;
}

.company{
	font-size: 8px;
	font-weight: bold;
	text-align: center;
}
span.rif{
	font-size: 6px;
	font-weight: normal;
	text-align: center;
}
.title{
	text-align: center;
	border-style:none;
}
.titleBack{
	text-align: center;
	font-size: 12px;
	border-style:none;
}

.txt1{
	text-align: right;
}

.txt2{
	width: 320px; 
	border: solid 0px;
	text-align: center;
	font-size: 10px;
	border-style:none;
	font-weight: normal;
	padding-bottom: 7px;
	margin-bottom: 50px;
}
.txt3{
	text-align: center; 
	border-style:none;
}
.borde-none{
	border-style: none; 
}
.box{
	border: 0.5px solid #000;
}

/***************************************/

.tg_asesor_heat  {
	border-collapse:collapse;
	border-spacing:0;
}

.tg_asesor_heat th{
	font-family:Arial, sans-serif;
	font-weight:normal;
	border-style:solid;
	border-width:1px;
	text-align: center;
	padding: 0px;
	height: 70px;
	vertical-align: middle;
}

.tg_asesor_heat td{
	font-family:Arial, sans-serif;
	border-style:solid;
	border-width:0.5px;
	font-weight: normal;
	padding: 5px;	
}

.tg_asesor_heat th.leftBox{
	width: 20%;
}
.tg_asesor_heat th.centerBox{
	width: 59.9%;	
}
.tg_asesor_heat th.rightBox{
	width: 20%;
}
.logo1Ventas{
	height: 80px;	
}
h1,h2,h3,h4,h5{
	margin: 0px;
}

/************************/
.tg_relacion  {
	border-collapse:collapse;
	border-spacing:0;
}

.tg_relacion th{
	font-family:Arial, sans-serif;
	font-weight:normal;
	border-style:solid;
	border-width:1px;
	text-align: center;
	padding: 0px;
	vertical-align: middle;
	padding: 2px;
}

.tg_relacion td{
	font-family:Arial, sans-serif;
	border-style:dotted;
	border-width:0.5px;
	font-weight: normal;
	padding: 3px;
	font-size: 11.5px;	
}

.tg_relacion td.name{
	width: 20%;
}

.tg_relacion td.money{
	text-align: right;
}
.content{
	margin: 0 auto;
}

.date{
	font-weight: bold;
	font-style: italic;
}